<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>item</title>
    <!-- 以下引入 react.js, react-dom.js（react 0.14 後將 react-dom 從 react 核心分離，更符合 react 跨平台抽象化的定位）以及 babel-core browser 版 -->
</head>
<body>
<%- include ../partials/navigation.ejs %>
<div class="content">
<a href="new/">new item</a><br/>
Following are items:<br/>
<% if(items_set.length >0){ %>
<% items_set.forEach(function(item){ %>
	<%= item.item_id %>:<%= item.item_name%>(<a href="delete/<%=item.item_id%>">delete</a>)<br/>
	
<% }); %>
<% }else{ %>
None.
<% } %>
</div>
</body>

</html>
