<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>
  <body> 
    <form method="POST" action="authenticate_new"
      <label>authenticate</label><input type="text" name="authenticate" value="public"/><br/>
      <input type="submit" value="送出" />
    </form>
  </body>
</html>
