<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>
  <body> 
    <form method="POST" action="/register"
      <label>username</label><br/>
	<input type="text" name="user" value=""/><br/>
      <label>password</label><br/>
	<input type="password" name="password" value=""/><br/>
      <label>password confirm</label><br/>
	<input type="password" name="password_confirm" value=""/><br/>
	<label>FirstName</label><br/>
	<input type="text" name="firstname" value=""/><br/>
	<label>LastName</label><br/>
	<input type="text" name="lastname" value=""/><br/>
      <input type="submit" value="送出" />
    </form>
  </body>
</html>
