<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>songla</title>
</head>
<body>
<div class="nav">
hi, <%= quotes.yushengc.user %>
</div>
<script type=text/javascript>
	console.log('<%= quotes %>');
</script>
</body>

</html>
